<!DOCTYPE html>
<html lang="en">
  <!-- Set up header and import bootstrap / set  up href -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body>
<!-- Add Jumbotron to header -->
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
<!-- Add button to activate scrape -->
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
<!-- Set up Mars News Section -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <div class="media">
          <h2>Latest Mars News</h2>
          <h4 class="media-heading">{{ mars.news_title }}</h4>
          <p>{{ mars.news_paragraph }}</p>
        </div>
      </div>
    </div>
<!-- Bring in Featured Image -->
    <div class="row" id="mars-featured-image">
      <div class="col-md-8">
        <h2>Featured Mars Image</h2>
        <img src="{{mars.featured_image | default('150.png', true) }}", class="img-responsive"/>
      </div>
    </div>
<!-- Bring in Mars Facts Table -->
    <div class="col-md-4">
      <div class="row" id="mars-facts">
        <div class="col-md-12">
          <h4>Mars Facts</h4>
          {{ mars.facts | safe }}
        </div>
      </div>
    </div>
<!-- Set up grid of 4 images to display Mars Hemispheres -->
    <div class=row>
      <div class="col-md-6">
        <img src={{mars.url1}} class="image" alt="Mars Hemisphere Image 1">
        <figcaption class="figure-caption">{{mars.title0}}</figcaption>
      </div>
      <div class="col-md-6">
        <img src={{mars.url2}} class="image" alt="Mars Hemisphere Image 2">
        <figcaption class="figure-caption">{{mars.title1}}</figcaption>
      </div>
    </div>
    <div class=row>
      <div class="col-md-6">
        <img src={{mars.url3}} class="image" alt="Mars Hemisphere Image 3">
        <figcaption class="figure-caption">{{mars.title2}}</figcaption>
      </div>
      <div class="col-md-6">
        <img src={{mars.url4}} class="image" alt="Mars Hemisphere Image 4">
        <figcaption class="figure-caption">{{mars.title3}}</figcaption>
      </div>
    </div>
  </div>
</body>
</html>