<!DOCTYPE html>
<html lang="en">
<!-- Set up header and import bootstrap/set up href/write in css -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Write in css -->
  <style>
    .image {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container">
<!-- Add Jumbotron to header -->
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
<!-- Add button to activate scrape -->
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
<!-- Set up Mars News Section -->
    <div class="row">
      <div class="col-md-12">
        <h3>Latest Mars News</h3>
        <h4>{{mars.news_title}}</h4>
        <small>{{mars.news_text}}</small>
      </div>
    </div>
<!-- Bring in Featured Image -->
    <div class="row">
      <div class="col-md-8">
        <h3>Featured Mars Image</h3>
        <img src={{mars.featured_image}} class="picture" alt="Featured Image">
      </div>
<!-- Bring in Mars Facts Table -->
      <div class="col-md-4">
        <h4>Mars Facts</h4>
        {{ mars.table_data |safe }}
      </div>
    </div>
<!-- Set up grid of 4 images to display Mars Hemispheres -->
    <div class=row>
      <div class="col-md-12">
        <h3 class = "text-center">Mars Hemispheres</h3>
      </div>
    </div>

    <div class=row>
      <div class="col-md-6">
        <img src={{mars.url0}} class="image" alt="Mars Hemisphere Image 1">
        <figcaption class="figure-caption">{{mars.title0}}</figcaption>
        
      </div>
      <div class="col-md-6">
        <img src={{mars.url1}} class="image" alt="Mars Hemisphere Image 2">
        <figcaption class="figure-caption">{{mars.title1}}</figcaption>
        
      </div>
    </div>

    <div class=row>
      <div class="col-md-6">
        <img src={{mars.url2}} class="image" alt="Mars Hemisphere Image 3">
        <figcaption class="figure-caption">{{mars.title2}}</figcaption>
        
      </div>
      <div class="col-md-6">
        <img src={{mars.url3}} class="image" alt="Mars Hemisphere Image 4">
        <figcaption class="figure-caption">{{mars.title3}}</figcaption>
        
      </div>
    </div>

  </div>
</body>

</html>